*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(1.jpg);
   	background-position :center;
    background-size:cover;
    height:100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
   
    float: left;
    padding-top:10px;
    margin-top:5px;
}
.menu{
	width:400px;
	float:right;
	height:70px;
}
ul{
	float:right;
	display:flex;
	justify-content:center;
	align-items:center;
	
}
 ul li{
 	list-style:none;
 	
    margin-left:200px;
 	margin-top:14px;
    font-size:25px;
 }
 ul li a{
 	text-decoration:none;
 	color:#fff;
 	font-family:Arial;
 	font-weight:bold;
 	transition:0.4s ease-in-out;
 }
.menu ul li a:hover{
	color:orange;
}
.content{
	width:350px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	position:absolute;
	color:#fff;
}
.content h2{
	font-size:45px;
	text-align:center;
	text-transform:uppercase;
	margin:10px 0;
}
.content h2 span{
	color: #ff7200;
}
.content input{
	margin-left:10px;
	
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
	width:200px;
	line-height:26px;
	
	
} 
.content h1 input{
	width:70px;
	line-height:30px;
	margin-bottom:10px;
	margin: auto;
	text-transform:uppercase;
	text-align:center;
}
