*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(1.jpg);
   	background-position :center;
    background-size:cover;
    height:100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
   
    float: left;
    padding-top:10px;
    margin-top:5px;
}
.menu{
	width:300px;
	float:left;
	height:70px;
	
}

.menu ul{
	float:left;
	
	display:flex;
	justify-content:center;
	align-items:right;
	
}
 .menu ul li{
 	list-style:none;
 	
    margin-left:200px;
 	margin-top:15px;
    font-size:20px;
 }
 .menu ul li a{
 	text-decoration:none;
 	color:#fff;
 	
 	font-family:Arial;
 	font-weight:bold;
 	transition:0.4s ease-in-out;
 }
.menu ul li a:hover{
	color:orange;
}
.master{
	position:left;
	left:0;
	width:100px;
	height:50%;	
	
	
}
.master h2{
	font-size:30px;
	text-align:center;
	margin-left:80px;
	
    font-family: Arial;
   color:#ff7200;
    float: left;
}
.master ul {
	display:inline-block;
	height: 70%;
	width:100;
	margin-left:25px;
	line-height:45px;
	font-size:20px;
	color:white;
	padding-left:40px;
	box-sizing:border-box;
	
	
}
.master ul li a {
	
	color:#fff;
	}
.master ul li a:hover {
	
	color:#ff7200;
	}
.id h3{
	font-size:18px;
	color:white;
}